/* border-box fix */
*, *:before, *:after {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

body {
  font: {
    family: $base-font-family;
    size: 15px;
    weight: 500;
  }
  color: $text-color;
  background-color: $background-color;
}

/* Images */
img {
  max-width: 100%;
  display: block;
}

/* Figures */
figcaption {
  font-size: $small-font-size;
}

/* Links */
a {
  color: $brand-color;
  text-decoration: none;

  &:visited {
    color: darken($brand-color, 15%);
  }

  &:hover {
    color: $text-color;
    text-decoration: underline;
  }
}

/* Blockquotes */
blockquote {
  color: $grey-color;
  border-left: 4px solid $grey-color-light;
  padding-left: $spacing-unit / 2;
  font-size: 18px;
  letter-spacing: -1px;
  font-style: italic;

  > :last-child {
    margin-bottom: 0;
  }
}

/* "Seamless" iframes */
iframe {
  border: none;
}

/* Wrapper */
.wrapper {
  max-width: $content-width;
  margin: 0 auto;
  padding: 0 16px;
}
