@import "flexbox";

$headerHeight:    232px;
$headerTopMargin: 16px;
$navHeight:       34px;

.header-wrap {
  @include display-flex;
}

.site-header {
  @include flex(1);

  @include display-flex;
  @include flex-direction(column);
  @include justify-content(space-between);
  height: $headerHeight;
  margin: $headerTopMargin 0 0 32px;

  .social {
    @include display-flex;
    @include justify-content(flex-end);
  }

  .social-media-list {
    list-style: none;
    margin: 0 16px;
    padding: 0;

    li {
      margin: 16px 0;
    }
  }
}

.logo {
  height: $headerHeight;
  margin-top: $headerTopMargin;
}

.site-nav {
  @include display-flex;
  height: $navHeight;
}

.page-link {
  display: block;
  @include flex(1);

  color: white !important;
  background-color: $freifunk-magenta;
  text-align: center;
  font: {
    size: 20px;
    weight: 300;
  }
  line-height: $navHeight;

  transition: background-color .4s;

  &:hover {
    background-color: $freifunk-yellow;
    text-decoration: none;
  }

  &.active {
    background-color: $freifunk-yellow;
  }
}
