@import "flexbox";

.line {
  @include display-flex;

  > div {
    @include flex(1);

    margin: 0 8px;
    &:first-child {
      margin-left: 0;
    }
    &:last-child {
      margin-right: 0;
    }
  }

  .video, .map {
    background: #ddd;
    height: 300px;
  }
}
